name: Header

on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

concurrency:
  group: header-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  build:
    runs-on: ubuntu-latest
    name: ${{ matrix.compiler }} ${{ matrix.type }}
    if: github.repository_owner == 'xxsds' || github.event_name == 'workflow_dispatch'
    strategy:
      fail-fast: false
      matrix:
        compiler: ["clang-latest", "gcc-third-latest"]
        type: ["Release", "Debug"]
    container:
      image: ghcr.io/seqan/${{ matrix.compiler }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup cache
        uses: seqan/actions/setup-actions-cache@main

      - name: Configure tests
        run: |
          mkdir ci_build && cd ci_build
          cmake .. -DCMAKE_BUILD_TYPE=Release \
                   -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
                   -DCMAKE_C_COMPILER_LAUNCHER=ccache \
                   -DCMAKE_CXX_FLAGS="-pedantic -Wall -Wextra -Werror ${{ matrix.cxx_flags }}" \
                   -DCMAKE_CXX_STANDARD=23 \
                   -DSDSL_HEADER_TEST=ON \
                   -DSDSL_CEREAL=${{ matrix.cereal }}
          make gtest_build

      - name: Build tests
        working-directory: ci_build
        run: |
          ccache -z
          make -k sdsl_header_test
          ccache -svvx

      - name: Run tests
        working-directory: ci_build
        run: ctest . -j --output-on-failure --no-tests=error
