name: macOS

on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:

concurrency:
  group: macos-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  build:
    runs-on: macos-latest
    name: ${{ matrix.compiler }} ${{ matrix.cereal == '1' && 'cereal' || '' }}
    if: github.repository_owner == 'xxsds' || github.event_name == 'workflow_dispatch'
    strategy:
      fail-fast: false
      matrix:
        compiler: ["clang-latest", "clang-second-latest", "clang-third-latest", "gcc-latest", "gcc-second-latest", "gcc-third-latest"]
        cereal: ["0", "1"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup toolchain
        uses: seqan/actions/setup-toolchain@main
        with:
          compiler: ${{ matrix.compiler }}

      - name: Configure tests
        run: |
          mkdir ci_build && cd ci_build
          cmake .. -DCMAKE_BUILD_TYPE=Release \
                   -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
                   -DCMAKE_C_COMPILER_LAUNCHER=ccache \
                   -DCMAKE_CXX_FLAGS="-pedantic -Wall -Wextra -Werror" \
                   -DCMAKE_CXX_STANDARD=23 \
                   -DSDSL_CEREAL=${{ matrix.cereal }}
          make gtest_build

      - name: Build tests
        working-directory: ci_build
        run: |
          ccache -z
          make -k sdsl_test_targets sdsl_examples sdsl_tutorials
          ccache -svvx

      - name: Run tests
        working-directory: ci_build
        run: ctest . -j --output-on-failure --no-tests=error
