name: Lint

on:
  workflow_dispatch:

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eexuo pipefail {0}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run clang-format
        uses: DoozyX/clang-format-lint-action@v0.20
        with:
          source: '.'
          exclude: './external'
          extensions: 'h,hpp,hpp.cmake,cpp'
          inplace: True

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: '[MISC] Automatic linting'
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          body: Automatic linting
          signoff: false
          branch: actions/lint
          delete-branch: true
          title: '[MISC] Automatic linting'
