name: Linting

on:
  push:
    branches:
      # Push events to branches matching refs/heads/master
      # - 'master'
  # Enables a manual trigger, may run on any branch
  workflow_dispatch:

concurrency:
  group: lint-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -ex {0}

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    if: github.repository_owner == 'xxsds' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v3
      - name: Run clang-format
        uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: '.'
          exclude: './external'
          extensions: 'h,hpp,hpp.cmake,cpp'
          clangFormatVersion: 15
          inplace: True
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: '[MISC] Format code'
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          body: Auto-generated clang-format changes
          signoff: false
          branch: actions/clang-format
          delete-branch: true
          title: '[MISC] Format code'
          reviewers: ${{ github.actor }}
          draft: false
